
body{
    padding-top:0px;

}
li{
    margin-left:10px;
}
#textareaDescription{
    width:1000px;
}

.typeElement {
    font-weight: bold;
    color:cornflowerblue;
}
#nombreQuestions {
    text-align: center;
}
.arrowButton{
    width : 1.5em;
    padding: 4px;
    
}