@model QCMApp.Elements
@{
    ViewBag.Title = "PageUpdateQuestion";

}

<h2>PageUpdateQuestion</h2>

@using (Html.BeginForm("UpdateQuestion", "Question", FormMethod.Post))
{
    <hr class="style1" />
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <textarea name="texte" rows="5" cols="400" id="textareaDescription">@Html.DisplayFor(model => model.texte)</textarea>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <hr class="style1" />
    <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-3">
            <input type="text" value="@Html.DisplayFor(model => model.intitule)" name="intitule" id="intitule" />
        </div>
        <div class="col-md-1">
            <input type="submit" value="Enregister" />
        </div>

        <div class="col-md-1">
            <input type="submit" value="Aperçu" name="apercu" id="apercu" />
        </div>
        <input type="hidden" name="idQuestionnaire" value="@Html.DisplayFor(model => model.questionnaire_id)" />
        <input type="hidden" name="idElement" value="@Html.DisplayFor(model => model.Id)" />


    </div>
}